!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %title Vandelay Industries Toy Store
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  
  %body
    -if flash[:notice]
      .bg-primary= flash[:notice]
    -if flash[:alert]
      .bg-warning= flash[:alert]
    -if flash[:warning]
      .bg-danger= flash[:warning]

    #header
      %h1 Vandelay Industries Toy Store
    = yield

